<div class="col-md-9">
    <h1 style="text-align:center; margin-top:5px; font-size:350%;">Dobro došli u Mega Store</h1>

    <table style="margin-top: 30px;">
        <tr>
            <td style="width: 70%;">
                <p>
                    Mega Store je preduzeće sa dugogodisnjim iskustvom u oblasti trgovine odjevnim proizvodima i kućanskim namjestajem. Na našoj stranici možete naći mnoštvo zanimljivih
                    sadržaja po cjenovnim rangovima za svaki džep. Poslujemo na teritoriji Bosne i Hercegovine te u okviru ove države vršimo dostavu naručenih proizvoda u najkraćem mogućem roku.
                </p>
            </td>
            <td style="text-align:center">
                <img src="~/Resources/megaStoreLogo.png" style="width:128px;height:128px;">
            </td>
        </tr>
    </table>

    <table>
        <tr>
            <td style="text-align:center">
                <img src="~/Resources/inTimeLogo.jpg" style="width:128px;height:128px;">
            </td>
            <td style="width: 70%;">
                <p>
                    Sadržaj nase aplikacije redovno se ažurira te sve informacije koje postoje, poput cijena, kolicine proizvoda na stanju i slično su validne.
                    Trudimo se da našim kupcima obezbedimo samo najbolje, u šta ćete se uvjeriti i sami ukoliko se pridružite našem klubu srećnih kupaca.
                </p>
            </td>
        </tr>
    </table>

    <table>
        <tr>
            <td style="width: 70%;">
                <p>
                    Sve vrste transakcija na našoj aplikaciji obavljaju se putem Pay-Pal servisa, te je korisnicima omoćeno brzo i sigurno rukovanje novčanim sredstvima, kao i sve ostale usluge koje ovaj servis omogućava.
                </p>
            </td>
            <td style="text-align:center">
                <img src="~/Resources/payPalLogo.png" style="width:180px;height:100px;">
            </td>
        </tr>
    </table>

    <table>
        <tr>
            <td style="text-align:center">
                <img src="~/Resources/cooperationLogo.jpg" style="width:110px;height:110px;">
            </td>
            <td style="width: 70%;">
                <p>
                    Takođe, ukoliko ste zainretesovani, nudimo i opciju saradnje i prodaje i Vaših proizvoda o čemu se možete dodatno informisati preko nasžšeg Call centra ili Email adrese.
                </p>
            </td>
        </tr>
    </table>

    <table>
        <tr>
            <td style="width: 60%;">
                <p>
                    Unapred se radujemo svakom tipu saradnje sa Vama.
                </p>
            </td>
            <td style="text-align:center">
                <a href="~/Shoping/Index"><img src="~/Resources/startShoping.jpg" style="width:330px;height:80px;">
            </td>
        </tr>
    </table>
</div>