<div class="col-md-9">
    <h1 style="margin-top:5px; font-size:350%;">Kontakt</h1>

    <h3>Call Centar</h3>
    <p>
        Telefon: +387 66 777 777<br />
        Email: prodaja@megastore.rs<br />
        Radno vreme Call Centra: ponedeljak - subota od 8 do 21h; nedelja od 9 do 16h<br />
        Putem Call Centra MegaStore-a možete da:<br />
        - izvršite naručivanje robe<br />
        - informišete se o načinima plaćanja, radnom vremenu i uslovima isporuke<br />
        - podnesete prijavu reklamacije telefonskim putem<br />
        - dobijete ostale informacije u vezi kupovine u našoj radnji
    </p>

    <h3>Isporuka</h3>
    <p>
        Servis "Brza pošta" za isporuke na teritoriji Bosne i Hercegovine:
        Putem novog servisa za praćenje isporuke možete videti planirano vreme isporuke u toku dana.
        Informacija o vremenu isporuke biće dostupne samo na dan isporuke od 12h.
        Praćenje isporuka moguće je samo za isporuke na teritoriji Bosne i Hercegovine
        koje vrši MegaStore. Proveru vršite unosom vašeg telefona koji ste naveli kao kontakt.
    </p>


    <h3>Ponude</h3>
    <p>
        Ukoliko ste zainteresovani za poslovnu saradnju sa nama ili nudite određenu robu ili usluge,
        molimo Vas kontaktirajte nas na sledeći email: ponude@megastore.rs
    </p>

    <h3>Reklamacije</h3>
    <p>Email: reklamacije@megastore.rs<br />Telefon:  +387 66 888 888</p>
</div>